<a href="https://colab.research.google.com/github/DataAnalyst-Rakesh/Advance-Spark-SQL/blob/main/Advanced_Spark_SQL_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advanced SQL Operations with Spark SQL

# Overview

This project demonstrates the application of Spark SQL for data manipulation, querying, and advanced analytics. It uses well-structured datasets to showcase the versatility of SQL in handling real-world data.**bold text**

In [1]:
!wget -q https://github.com/saiadityaus1/test1/raw/main/df.csv -O df.csv
!wget -q https://github.com/saiadityaus1/test1/raw/main/df1.csv -O df1.csv
!wget -q https://github.com/saiadityaus1/test1/raw/main/dt.txt -O dt.txt
!wget -q https://github.com/saiadityaus1/test1/raw/main/file1.txt -O file1.txt
!wget -q https://github.com/saiadityaus1/test1/raw/main/file2.txt -O file2.txt
!wget -q https://github.com/saiadityaus1/test1/raw/main/file3.txt -O file3.txt
!wget -q https://github.com/saiadityaus1/test1/raw/main/file4.json -O file4.json
!wget -q https://github.com/saiadityaus1/test1/raw/main/file5.parquet -O file5.parquet
!wget -q https://github.com/saiadityaus1/test1/raw/main/file6 -O file6
!wget -q https://github.com/saiadityaus1/test1/raw/main/prod.csv -O prod.csv
!wget -q https://github.com/saiadityaus1/test1/raw/main/state.txt -O state.txt
!wget -q https://github.com/saiadityaus1/test1/raw/main/usdata.csv -O usdata.csv
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!tar xf spark-3.1.2-bin-hadoop2.7.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"
import findspark
findspark.init()
import sys
import os
python_path = sys.executable
os.environ['PYSPARK_PYTHON'] = python_path
from pyspark import SparkConf
from pyspark import SparkContext
from pyspark.sql import SparkSession
conf = SparkConf().setAppName("pyspark").setMaster("local[*]").set("spark.driver.host","localhost").set("spark.driver.allowMultipleContexts","true")
sc = SparkContext(conf=conf)
spark = SparkSession.builder.config("spark.driver.allowMultipleContexts","true").getOrCreate()
print("DONE==== START YOUR WORKðŸ‘‡ ")

DONE==== START YOUR WORKðŸ‘‡

In [3]:
#1. Data Preparation
# Import required libraries
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Advanced SQL Operations") \
    .getOrCreate()

# Create the main dataset
data = [
    (0, '06-26-2011', 300.4, 'Exercise', 'GymnasticsPro', 'cash'),
    (1, '05-26-2011', 200.0, 'Exercise Band', 'Weightlifting', 'credit'),
    (2, '06-01-2011', 300.4, 'Exercise', 'Gymnastics Pro', 'cash'),
    (3, '06-05-2011', 100.0, 'Gymnastics', 'Rings', 'credit'),
    (4, '12-17-2011', 300.0, 'Team Sports', 'Field', 'cash'),
    (5, '02-14-2011', 200.0, 'Gymnastics', None, 'cash'),
    (6, '06-05-2011', 100.0, 'Exercise', 'Rings', 'credit'),
    (7, '12-17-2011', 300.0, 'Team Sports', 'Field', 'cash'),
    (8, '02-14-2011', 200.0, 'Gymnastics', None, 'cash'),
]

columns = ['id', 'tdate', 'amount', 'category', 'product', 'spendby']

# Load dataset into a Spark DataFrame
df = spark.createDataFrame(data, columns)

# Register the DataFrame as a SQL view for querying
df.createOrReplaceTempView("df")

# Display the dataset
print("Dataset Preview:")
df.show()

Dataset Preview:
+---+----------+------+-------------+--------------+-------+
| id|     tdate|amount|     category|       product|spendby|
+---+----------+------+-------------+--------------+-------+
|  0|06-26-2011| 300.4|     Exercise| GymnasticsPro|   cash|
|  1|05-26-2011| 200.0|Exercise Band| Weightlifting| credit|
|  2|06-01-2011| 300.4|     Exercise|Gymnastics Pro|   cash|
|  3|06-05-2011| 100.0|   Gymnastics|         Rings| credit|
|  4|12-17-2011| 300.0|  Team Sports|         Field|   cash|
|  5|02-14-2011| 200.0|   Gymnastics|          null|   cash|
|  6|06-05-2011| 100.0|     Exercise|         Rings| credit|
|  7|12-17-2011| 300.0|  Team Sports|         Field|   cash|
|  8|02-14-2011| 200.0|   Gymnastics|          null|   cash|
+---+----------+------+-------------+--------------+-------+

In [6]:
#2. Basic SQL Queries
# Display all data
spark.sql("SELECT * FROM df").show()

# Count the number of rows
spark.sql("SELECT COUNT(*) AS row_count FROM df").show()

# Find the maximum and minimum ID
spark.sql("SELECT MAX(id) AS max_id, MIN(id) AS min_id FROM df").show()

+---+----------+------+-------------+--------------+-------+
| id|     tdate|amount|     category|       product|spendby|
+---+----------+------+-------------+--------------+-------+
|  0|06-26-2011| 300.4|     Exercise| GymnasticsPro|   cash|
|  1|05-26-2011| 200.0|Exercise Band| Weightlifting| credit|
|  2|06-01-2011| 300.4|     Exercise|Gymnastics Pro|   cash|
|  3|06-05-2011| 100.0|   Gymnastics|         Rings| credit|
|  4|12-17-2011| 300.0|  Team Sports|         Field|   cash|
|  5|02-14-2011| 200.0|   Gymnastics|          null|   cash|
|  6|06-05-2011| 100.0|     Exercise|         Rings| credit|
|  7|12-17-2011| 300.0|  Team Sports|         Field|   cash|
|  8|02-14-2011| 200.0|   Gymnastics|          null|   cash|
+---+----------+------+-------------+--------------+-------+

+---------+
|row_count|
+---------+
|        9|
+---------+

+------+------+
|max_id|min_id|
+------+------+
|     8|     0|
+------+------+

In [8]:
#3. Filtering and Conditions
# Filter rows where category is 'Exercise'
spark.sql("SELECT * FROM df WHERE category = 'Exercise'").show()

# Filter rows with multiple categories
spark.sql("SELECT * FROM df WHERE category IN ('Exercise', 'Gymnastics')").show()

# Filter rows where product column is NULL or NOT NULL
spark.sql("SELECT * FROM df WHERE product IS NULL").show()
spark.sql("SELECT * FROM df WHERE product IS NOT NULL").show()

# Add a new column for cash/credit
spark.sql("""
SELECT *,
    CASE WHEN spendby = 'cash' THEN 1 ELSE 0 END AS MOP
FROM df
""").show()

+---+----------+------+--------+--------------+-------+
| id|     tdate|amount|category|       product|spendby|
+---+----------+------+--------+--------------+-------+
|  0|06-26-2011| 300.4|Exercise| GymnasticsPro|   cash|
|  2|06-01-2011| 300.4|Exercise|Gymnastics Pro|   cash|
|  6|06-05-2011| 100.0|Exercise|         Rings| credit|
+---+----------+------+--------+--------------+-------+

+---+----------+------+----------+--------------+-------+
| id|     tdate|amount|  category|       product|spendby|
+---+----------+------+----------+--------------+-------+
|  0|06-26-2011| 300.4|  Exercise| GymnasticsPro|   cash|
|  2|06-01-2011| 300.4|  Exercise|Gymnastics Pro|   cash|
|  3|06-05-2011| 100.0|Gymnastics|         Rings| credit|
|  5|02-14-2011| 200.0|Gymnastics|          null|   cash|
|  6|06-05-2011| 100.0|  Exercise|         Rings| credit|
|  8|02-14-2011| 200.0|Gymnastics|          null|   cash|
+---+----------+------+----------+--------------+-------+

+---+----------+------+----------+-------+-------+
| id|     tdate|amount|  category|product|spendby|
+---+----------+------+----------+-------+-------+
|  5|02-14-2011| 200.0|Gymnastics|   null|   cash|
|  8|02-14-2011| 200.0|Gymnastics|   null|   cash|
+---+----------+------+----------+-------+-------+

+---+----------+------+-------------+--------------+-------+
| id|     tdate|amount|     category|       product|spendby|
+---+----------+------+-------------+--------------+-------+
|  0|06-26-2011| 300.4|     Exercise| GymnasticsPro|   cash|
|  1|05-26-2011| 200.0|Exercise Band| Weightlifting| credit|
|  2|06-01-2011| 300.4|     Exercise|Gymnastics Pro|   cash|
|  3|06-05-2011| 100.0|   Gymnastics|         Rings| credit|
|  4|12-17-2011| 300.0|  Team Sports|         Field|   cash|
|  6|06-05-2011| 100.0|     Exercise|         Rings| credit|
|  7|12-17-2011| 300.0|  Team Sports|         Field|   cash|
+---+----------+------+-------------+--------------+-------+

+---+----------+------+-------------+--------------+-------+---+
| id|     tdate|amount|     category|       product|spendby|MOP|
+---+----------+------+-------------+--------------+-------+---+
|  0|06-26-2011| 300.4|     Exercise| GymnasticsPro|   cash|  1|
|  1|05-26-2011| 200.0|Exercise Band| Weightlifting| credit|  0|
|  2|06-01-2011| 300.4|     Exercise|Gymnastics Pro|   cash|  1|
|  3|06-05-2011| 100.0|   Gymnastics|         Rings| credit|  0|
|  4|12-17-2011| 300.0|  Team Sports|         Field|   cash|  1|
|  5|02-14-2011| 200.0|   Gymnastics|          null|   cash|  1|
|  6|06-05-2011| 100.0|     Exercise|         Rings| credit|  0|
|  7|12-17-2011| 300.0|  Team Sports|         Field|   cash|  1|
|  8|02-14-2011| 200.0|   Gymnastics|          null|   cash|  1|
+---+----------+------+-------------+--------------+-------+---+

In [9]:
#4. Aggregations
# Sum, max, and min amounts by category
spark.sql("""
SELECT category,
       SUM(amount) AS total_amount,
       MAX(amount) AS max_amount,
       MIN(amount) AS min_amount
FROM df
GROUP BY category
""").show()

# Group by multiple dimensions
spark.sql("""
SELECT category, spendby,
       SUM(amount) AS total_amount,
       COUNT(*) AS transaction_count
FROM df
GROUP BY category, spendby
""").show()

+-------------+------------+----------+----------+
|     category|total_amount|max_amount|min_amount|
+-------------+------------+----------+----------+
|   Gymnastics|       500.0|     200.0|     100.0|
|  Team Sports|       600.0|     300.0|     300.0|
|     Exercise|       700.8|     300.4|     100.0|
|Exercise Band|       200.0|     200.0|     200.0|
+-------------+------------+----------+----------+

+-------------+-------+------------+-----------------+
|     category|spendby|total_amount|transaction_count|
+-------------+-------+------------+-----------------+
|   Gymnastics|   cash|       400.0|                2|
|     Exercise|   cash|       600.8|                2|
|     Exercise| credit|       100.0|                1|
|  Team Sports|   cash|       600.0|                2|
|Exercise Band| credit|       200.0|                1|
|   Gymnastics| credit|       100.0|                1|
+-------------+-------+------------+-----------------+

In [10]:
#5.String Operations
# Concatenate id and category
spark.sql("""
SELECT id, category,
       CONCAT(id, '-', category) AS condata
FROM df
""").show()

# Convert category to lowercase and uppercase
spark.sql("""
SELECT id, category,
       LOWER(category) AS lowcat,
       UPPER(category) AS upcat
FROM df
""").show()

# Trim spaces from the product column
spark.sql("""
SELECT id, product,
       TRIM(product) AS trimmed_product
FROM df
""").show()

+---+-------------+---------------+
| id|     category|        condata|
+---+-------------+---------------+
|  0|     Exercise|     0-Exercise|
|  1|Exercise Band|1-Exercise Band|
|  2|     Exercise|     2-Exercise|
|  3|   Gymnastics|   3-Gymnastics|
|  4|  Team Sports|  4-Team Sports|
|  5|   Gymnastics|   5-Gymnastics|
|  6|     Exercise|     6-Exercise|
|  7|  Team Sports|  7-Team Sports|
|  8|   Gymnastics|   8-Gymnastics|
+---+-------------+---------------+

+---+-------------+-------------+-------------+
| id|     category|       lowcat|        upcat|
+---+-------------+-------------+-------------+
|  0|     Exercise|     exercise|     EXERCISE|
|  1|Exercise Band|exercise band|EXERCISE BAND|
|  2|     Exercise|     exercise|     EXERCISE|
|  3|   Gymnastics|   gymnastics|   GYMNASTICS|
|  4|  Team Sports|  team sports|  TEAM SPORTS|
|  5|   Gymnastics|   gymnastics|   GYMNASTICS|
|  6|     Exercise|     exercise|     EXERCISE|
|  7|  Team Sports|  team sports|  TEAM SPORTS|
|  8|   Gymnastics|   gymnastics|   GYMNASTICS|
+---+-------------+-------------+-------------+

+---+--------------+---------------+
| id|       product|trimmed_product|
+---+--------------+---------------+
|  0| GymnasticsPro|  GymnasticsPro|
|  1| Weightlifting|  Weightlifting|
|  2|Gymnastics Pro| Gymnastics Pro|
|  3|         Rings|          Rings|
|  4|         Field|          Field|
|  5|          null|           null|
|  6|         Rings|          Rings|
|  7|         Field|          Field|
|  8|          null|           null|
+---+--------------+---------------+

In [11]:
#6. Window Functions
# Add a row number partitioned by category
spark.sql("""
SELECT id, category, amount,
       ROW_NUMBER() OVER (PARTITION BY category ORDER BY amount DESC) AS row_num
FROM df
""").show()

# Add rank and dense rank
spark.sql("""
SELECT id, category, amount,
       RANK() OVER (PARTITION BY category ORDER BY amount DESC) AS rank_num,
       DENSE_RANK() OVER (PARTITION BY category ORDER BY amount DESC) AS dense_rank_num
FROM df
""").show()

# Lead and lag
spark.sql("""
SELECT id, category, amount,
       LEAD(amount) OVER (PARTITION BY category ORDER BY amount DESC) AS lead_amount,
       LAG(amount) OVER (PARTITION BY category ORDER BY amount DESC) AS lag_amount
FROM df
""").show()

+---+-------------+------+-------+
| id|     category|amount|row_num|
+---+-------------+------+-------+
|  5|   Gymnastics| 200.0|      1|
|  8|   Gymnastics| 200.0|      2|
|  3|   Gymnastics| 100.0|      3|
|  4|  Team Sports| 300.0|      1|
|  7|  Team Sports| 300.0|      2|
|  0|     Exercise| 300.4|      1|
|  2|     Exercise| 300.4|      2|
|  6|     Exercise| 100.0|      3|
|  1|Exercise Band| 200.0|      1|
+---+-------------+------+-------+

+---+-------------+------+--------+--------------+
| id|     category|amount|rank_num|dense_rank_num|
+---+-------------+------+--------+--------------+
|  5|   Gymnastics| 200.0|       1|             1|
|  8|   Gymnastics| 200.0|       1|             1|
|  3|   Gymnastics| 100.0|       3|             2|
|  4|  Team Sports| 300.0|       1|             1|
|  7|  Team Sports| 300.0|       1|             1|
|  0|     Exercise| 300.4|       1|             1|
|  2|     Exercise| 300.4|       1|             1|
|  6|     Exercise| 100.0|       3|             2|
|  1|Exercise Band| 200.0|       1|             1|
+---+-------------+------+--------+--------------+

+---+-------------+------+-----------+----------+
| id|     category|amount|lead_amount|lag_amount|
+---+-------------+------+-----------+----------+
|  5|   Gymnastics| 200.0|      200.0|      null|
|  8|   Gymnastics| 200.0|      100.0|     200.0|
|  3|   Gymnastics| 100.0|       null|     200.0|
|  4|  Team Sports| 300.0|      300.0|      null|
|  7|  Team Sports| 300.0|       null|     300.0|
|  0|     Exercise| 300.4|      300.4|      null|
|  2|     Exercise| 300.4|      100.0|     300.4|
|  6|     Exercise| 100.0|       null|     300.4|
|  1|Exercise Band| 200.0|       null|      null|
+---+-------------+------+-----------+----------+

In [12]:
#7. Date Operations
# Convert and format dates
spark.sql("""
SELECT id, tdate,
       DATE_FORMAT(tdate, 'yyyy-MM-dd') AS formatted_date
FROM df
""").show()

# Subquery to filter rows where the amount is above the average
spark.sql("""
SELECT *
FROM df
WHERE amount > (SELECT AVG(amount) FROM df)
""").show()

+---+----------+--------------+
| id|     tdate|formatted_date|
+---+----------+--------------+
|  0|06-26-2011|          null|
|  1|05-26-2011|          null|
|  2|06-01-2011|          null|
|  3|06-05-2011|          null|
|  4|12-17-2011|          null|
|  5|02-14-2011|          null|
|  6|06-05-2011|          null|
|  7|12-17-2011|          null|
|  8|02-14-2011|          null|
+---+----------+--------------+

+---+----------+------+-----------+--------------+-------+
| id|     tdate|amount|   category|       product|spendby|
+---+----------+------+-----------+--------------+-------+
|  0|06-26-2011| 300.4|   Exercise| GymnasticsPro|   cash|
|  2|06-01-2011| 300.4|   Exercise|Gymnastics Pro|   cash|
|  4|12-17-2011| 300.0|Team Sports|         Field|   cash|
|  7|12-17-2011| 300.0|Team Sports|         Field|   cash|
+---+----------+------+-----------+--------------+-------+

In [14]:
#8. Adding Joins
# Create additional datasets for join examples
cust_data = [(1, 'raj'), (2, 'ravi'), (3, 'sai'), (5, 'rani')]
prod_data = [(1, 'mouse'), (3, 'mobile'), (7, 'laptop')]

# Create DataFrames for customers and products
cust = spark.createDataFrame(cust_data, ['id', 'name'])
prod = spark.createDataFrame(prod_data, ['id', 'product'])

# Register these DataFrames as SQL views
cust.createOrReplaceTempView("cust")
prod.createOrReplaceTempView("prod")

# Preview the datasets
print("Customer Data:")
cust.show()

print("Product Data:")
prod.show()

Customer Data:
+---+----+
| id|name|
+---+----+
|  1| raj|
|  2|ravi|
|  3| sai|
|  5|rani|
+---+----+

Product Data:
+---+-------+
| id|product|
+---+-------+
|  1|  mouse|
|  3| mobile|
|  7| laptop|
+---+-------+

In [15]:
#9.Inner Join
# Perform an inner join between customers and products
spark.sql("""
SELECT cust.id, cust.name, prod.product
FROM cust
INNER JOIN prod
ON cust.id = prod.id
""").show()

+---+----+-------+
| id|name|product|
+---+----+-------+
|  1| raj|  mouse|
|  3| sai| mobile|
+---+----+-------+

In [16]:
#10. Left Join
# Perform a left join to include all customers
spark.sql("""
SELECT cust.id, cust.name, prod.product
FROM cust
LEFT JOIN prod
ON cust.id = prod.id
""").show()

+---+----+-------+
| id|name|product|
+---+----+-------+
|  5|rani|   null|
|  1| raj|  mouse|
|  3| sai| mobile|
|  2|ravi|   null|
+---+----+-------+

In [18]:
#11. Right Join
# Perform a right join to include all products
spark.sql("""
SELECT cust.id, cust.name, prod.product
FROM cust
RIGHT JOIN prod
ON cust.id = prod.id
""").show()

+----+----+-------+
|  id|name|product|
+----+----+-------+
|null|null| laptop|
|   1| raj|  mouse|
|   3| sai| mobile|
+----+----+-------+

In [19]:
#12. Full Outer Join
# Perform a full outer join to include all customers and products
spark.sql("""
SELECT cust.id, cust.name, prod.product
FROM cust
FULL OUTER JOIN prod
ON cust.id = prod.id
ORDER BY cust.id
""").show()

+----+----+-------+
|  id|name|product|
+----+----+-------+
|null|null| laptop|
|   1| raj|  mouse|
|   2|ravi|   null|
|   3| sai| mobile|
|   5|rani|   null|
+----+----+-------+

In [20]:
#13. Anti Join
# Perform an anti join to find customers without a matching product
spark.sql("""
SELECT cust.id, cust.name
FROM cust
LEFT ANTI JOIN prod
ON cust.id = prod.id
""").show()

+---+----+
| id|name|
+---+----+
|  5|rani|
|  2|ravi|
+---+----+

In [23]:
#14.Semi Join
# Perform a semi join to find customers with a matching product
spark.sql("""
SELECT cust.id, cust.name
FROM cust
LEFT SEMI JOIN prod
ON cust.id = prod.id
""").show()

+---+----+
| id|name|
+---+----+
|  1| raj|
|  3| sai|
+---+----+

In [22]:
#15. Cross Join
# Perform a cross join between customers and products
spark.sql("""
SELECT cust.id AS cust_id, cust.name AS customer_name,
       prod.id AS prod_id, prod.product AS product_name
FROM cust
CROSS JOIN prod
""").show()

+-------+-------------+-------+------------+
|cust_id|customer_name|prod_id|product_name|
+-------+-------------+-------+------------+
|      1|          raj|      1|       mouse|
|      2|         ravi|      1|       mouse|
|      1|          raj|      3|      mobile|
|      1|          raj|      7|      laptop|
|      2|         ravi|      3|      mobile|
|      2|         ravi|      7|      laptop|
|      3|          sai|      1|       mouse|
|      5|         rani|      1|       mouse|
|      3|          sai|      3|      mobile|
|      3|          sai|      7|      laptop|
|      5|         rani|      3|      mobile|
|      5|         rani|      7|      laptop|
+-------+-------------+-------+------------+

# Joins Summary

Join Type 	Description  <br>
1) Inner Join -	Includes rows with matching keys in both datasets. <br>
2) Left Join	- Includes all rows from the left dataset and matching rows from the right. <br>
3) Right Join - Includes all rows from the right dataset and matching rows from the left.  <br>
4) Full Join - Includes all rows from both datasets, matching where possible.  <br>
5) Anti Join - Includes rows from the left dataset that have no match in the right.  <br>
6) Semi Join - Includes rows from the left dataset that have a match in the right. <br>
7) Cross Join - Includes every combination of rows from both datasets (Cartesian Product).